go 1.25.13

use (
	./cmd/inventory
	./cmd/order
	./cmd/payment
	./cmd/saga
	./cmd/web
	./pkg/consumer
	./pkg/outbox
	./pkg/platform
	./pkg/platform/instrumentation/kafkaprop
	./services/inventory
	./services/order
	./services/payment
	./services/saga
	./services/web
	./tests
)
